version: '3.5'

networks:
    appnet:
        driver: bridge

services:
    webapp:
        image: webrtcporject
        ports:
            - "8000:8000"
        networks:
            - appnet
        volumes:
            - /home/dell/Desktop/VidTool/Video-conferencing-too-using-WebRTC:/home/WebRTC

    redis:
        image: redis:5
        networks:
            - appnet
