<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/c939d0e917.js"></script>
<style>
    body {
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', sans-serif;
            overflow-y: hidden;
        }
        .bottom-bar button {
            margin: 12px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            font-size: 20px;
            border: none;
            color: #202124;
            box-shadow: 0 4px 8px 0 black;
            -webkit-transition-duration: 0.3s;
        }
        .bottom-bar button:hover {
            border: 3px solid white;
            background-color: #202124;
            color: white;
            box-shadow: 0 8px 16px 0 black;
            transform: scale(1.1);
        }
        .bottom-bar .btn-sec {
            background-color: #D33D2B;
            box-shadow: 0 4px 8px 0 black;
            color: white;
            -webkit-transition-duration: 0.3s;
        }
        .bottom-bar .btn-sec:hover {
            background-color: #ac3426;
            box-shadow: 0 8px 16px 0 black;
            transform: scale(1.1);
        }
        video {
            height: 300px;
            width: 400px;
            margin: 10px;
            box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
        }
        .main-window {
            background-color: #202124;
            color: white;
            width: 100vw;
            float: right;
            transition: 0.5s;
            overflow-x: hidden;
            overflow-y: hidden;
        }
        .videos-section {
            background-color: #202124;
            height: 90vh;
            text-align: center;
            overflow-y: scroll;
        }
        .bottom-bar {
            background-color: #262828;
            color: #17252a;
            height: 10vh;
            text-align: center;
            box-shadow: 0px -4px 5px  rgba(0,0,0,0.2);
        }
</style>
<div id="main-window" class="main-window">
	<div class="videos-section">
		<div id="video-grid">
		</div>
	</div>
	<div class="bottom-bar">
		<div class="container">
			<div class="main__video_button" style="display: inline-block;">
				<button onclick="playStop()"><i class="fas fa-video"></i></button>
			</div>
			<div class="main__mute_button" style="display: inline-block;">
				<button onclick="muteUnmute()"><i class="fas fa-microphone"></i></button>
			</div>
		</div>
	</div>
</div>
<script>
	var localStream = null;
	var hasstarted = false
	var alreadyrecieved = []
	var videoalreadyadded = []
	var conntetedpeers = {}
	var room_id = "{{ room_id|safe }}"
	var user_name = "{{ user_name|safe }}"
	var endpoint = 'ws://' + window.location.host + '/ws/' + room_id + '/' + user_name + '/'
	socket = new WebSocket(endpoint)
	var mediaConstraints = {
		audio: true, 
		video: true 
	};
	socket.onmessage = function(e) {
		var data = JSON.parse(e.data).obj
		// console.log(data)
		if(data.type === "joined")
			invite(data)
		else if(data.type === "video-offer" && data.target=== user_name)
			handleVideoOfferMsg(data)
		else if(data.type === "new-ice-candidate" && data.target === user_name)
			handleNewICECandidateMsg(data)
		else  if(data.type === "video-answer" && data.target === user_name)
			handleAnswerMsg(data)
		else if(data.type === "left")
			handleLeftMsg(data)
	}
	async function invite(data)
	{
		targetUsername = data.name;
    	createPeerConnection(targetUsername);
		myPeerConnection = conntetedpeers[targetUsername][0]
		localStream = await navigator.mediaDevices.getUserMedia(mediaConstraints)
		localStream.getTracks().forEach(track => myPeerConnection.addTrack(track, localStream));
	}
	function createPeerConnection(targetUsername)
	{
		myPeerConnection = new RTCPeerConnection({
			iceServers: [
				{
				urls: "stun:stun.l.google.com:19302"
				}
			]
  		});
		myPeerConnection.onicecandidate = tmpIcefunc = e => handleICECandidateEvent(e,targetUsername);
		myPeerConnection.onnegotiationneeded = tmpfunc = e => handleNegotiationNeededEvent(e,targetUsername);
		myPeerConnection.ontrack = tmpStreamfunc = e => handleRemoteStreamEvent(e,targetUsername);
		conntetedpeers[targetUsername] = [myPeerConnection,[]]
		myPeerConnection = null
	}
	async function handleNegotiationNeededEvent(event,targetUsername) 
	{
		if(alreadyrecieved.includes(targetUsername))
			return
		localStream = await navigator.mediaDevices.getUserMedia(mediaConstraints)
		if(!hasstarted)
			addVideoStream(localStream,user_name)
		hasstarted = true;
		myPeerConnection = conntetedpeers[targetUsername][0]
		await myPeerConnection.createOffer()
		await myPeerConnection.setLocalDescription();
		socket.send(JSON.stringify({
			"name": user_name,
			"target": targetUsername,
			"type": "video-offer",
			"sdp": myPeerConnection.localDescription
		}))
	}
	async function handleAnswerMsg(msg)
	{
		var desc = new RTCSessionDescription(msg.sdp)
		console.log(msg)
		myPeerConnection = conntetedpeers[msg.name][0]
		if(!!!desc)
			return
		await myPeerConnection.setRemoteDescription(desc)
		candidates = conntetedpeers[msg.name][1]
		candidates.forEach(candidate => myPeerConnection.addIceCandidate(candidate))
	} 
	async function handleVideoOfferMsg(msg) 
	{
		targetUsername = msg.name;
		alreadyrecieved = [...alreadyrecieved,msg.name]
		var desc = new RTCSessionDescription(msg.sdp);
		createPeerConnection(targetUsername);
		myPeerConnection = conntetedpeers[msg.name][0]
		await myPeerConnection.setRemoteDescription(desc)
		candidates = conntetedpeers[msg.name][1]
		candidates.forEach(candidate => myPeerConnection.addIceCandidate(candidate))
		stream = await navigator.mediaDevices.getUserMedia(mediaConstraints)
		localStream = stream;
		if(!hasstarted)
			addVideoStream(localStream,user_name)
		hasstarted = true;
		await localStream.getTracks().forEach(track => myPeerConnection.addTrack(track, localStream));
		myPeerConnection = conntetedpeers[msg.name][0]
		answer = await myPeerConnection.createAnswer();
		await myPeerConnection.setLocalDescription();
		socket.send(JSON.stringify({
			"name": user_name,
			"target": targetUsername,
			"type": "video-answer",
			"sdp": myPeerConnection.localDescription
		}))
	}
	function handleICECandidateEvent(event,targetUsername) 
	{
		if (event.candidate) 
		{
			socket.send(JSON.stringify({
				"type": "new-ice-candidate",
				"target": targetUsername,
				"name": user_name,
				"candidate": event.candidate
            }))
		}
	}
	function handleNewICECandidateMsg(msg) 
	{
		var candidate = new RTCIceCandidate(msg.candidate);
		candidates = conntetedpeers[msg.name][1]
		myPeerConnection = conntetedpeers[msg.name][0]
		if(!myPeerConnection || !myPeerConnection.remoteDescription)
			candidates.push(candidate)
		else
			myPeerConnection.addIceCandidate(candidate)
	}
	function handleRemoteStreamEvent(event,user_id)
	{
		addVideoStream(event.streams[0],user_id)
	}
	function handleLeftMsg(msg)
	{
		document.getElementById(msg.name).remove()
	}
	function addVideoStream(stream,user_id) 
	{
		// console.log(user_id,videoalreadyadded,user_id in videoalreadyadded)
		if(videoalreadyadded.includes(user_id))
			return
		const video = document.createElement('video')
		video.id = user_id
		const videoGrid = document.getElementById('video-grid')
		video.srcObject = stream
		video.addEventListener('loadedmetadata', () => {
			video.play()
		})
		videoGrid.append(video)
		videoalreadyadded = [...videoalreadyadded,user_id]
	}
	function muteUnmute()
	{
		var enabled = localStream.getAudioTracks()[0].enabled;
		if (enabled)
		{
			localStream.getAudioTracks()[0].enabled = false;
			setUnmuteButton();
		}
		else
		{
			setMuteButton();
			localStream.getAudioTracks()[0].enabled = true;
		}
	}
	function playStop()
	{
		var enabled = localStream.getVideoTracks()[0].enabled;
		if (enabled)
		{
			localStream.getVideoTracks()[0].enabled = false;
			setPlayVideo()
		}
		else
		{
			setStopVideo()
			localStream.getVideoTracks()[0].enabled = true;
		}
	}
	function setMuteButton()
	{
		const html = `<button onclick="muteUnmute()"><i class="fas fa-microphone"></i></button>`
		document.querySelector('.main__mute_button').innerHTML = html;
	}
	function setUnmuteButton()
	{
		const html = `<button class="btn-sec" onclick="muteUnmute()"><i class="fas fa-microphone-slash"></i></button>`
		document.querySelector('.main__mute_button').innerHTML = html;
	}
	function setStopVideo()
	{
		const html = `<button onclick="playStop()"><i class="fas fa-video"></i></button>`
		document.querySelector('.main__video_button').innerHTML = html;
	}
	function setPlayVideo()
	{
		const html = `<button class="btn-sec" onclick="playStop()"><i class="fas fa-video-slash"></i></button>`
		document.querySelector('.main__video_button').innerHTML = html;
	}
</script>