<div id="video-grid"></div>
<style>
    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
    }
    
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
</style>
<script>
	var targetUsername = null
	var candidates = []
	var room_id = "{{ room_id|safe }}"
	var user_name = "{{ user_name|safe }}"
	var endpoint = 'ws://' + window.location.host + '/ws/' + room_id + '/' + user_name + '/'
	socket = new WebSocket(endpoint)
	var mediaConstraints = {
		audio: false, 
		video: true 
	};
	socket.onmessage = function(e) {
		var data = JSON.parse(e.data).obj
		console.log(data)
		if(data.type === "joined")
			invite(data)
		else if(data.type === "video-offer" && data.target=== user_name)
			handleVideoOfferMsg(data)
		else if(data.type === "new-ice-candidate" && data.target === user_name)
			handleNewICECandidateMsg(data)
		else  if(data.type === "video-answer" && data.target === user_name)
			handleAnswerMsg(data)
	}
	async function invite(data)
	{
		targetUsername = data.name;
    	createPeerConnection();
		localStream = await navigator.mediaDevices.getUserMedia(mediaConstraints)
		localStream.getTracks().forEach(track => myPeerConnection.addTrack(track, localStream));
	}
	function createPeerConnection()
	{
		myPeerConnection = new RTCPeerConnection({
			iceServers: [
				{
				urls: "stun:stun.l.google.com:19302"
				}
			]
  		});
		myPeerConnection.onicecandidate = handleICECandidateEvent;
		myPeerConnection.onnegotiationneeded = handleNegotiationNeededEvent;
		myPeerConnection.ontrack = handleRemoteStreamEvent;
	}
	async function handleNegotiationNeededEvent() 
	{
		localStream = await navigator.mediaDevices.getUserMedia(mediaConstraints)
		addVideoStream(localStream)
		await myPeerConnection.createOffer()
		await myPeerConnection.setLocalDescription();
		socket.send(JSON.stringify({
			"name": user_name,
			"target": targetUsername,
			"type": "video-offer",
			"sdp": myPeerConnection.localDescription
		}))
	}
	async function handleAnswerMsg(msg)
	{
		var desc = new RTCSessionDescription(msg.sdp)
		await myPeerConnection.setRemoteDescription(desc)
		candidates.forEach(candidate => myPeerConnection.addIceCandidate(candidate))
	} 
	async function handleVideoOfferMsg(msg) 
	{
		var localStream = null;
		targetUsername = msg.name;
		var desc = new RTCSessionDescription(msg.sdp);
		createPeerConnection();
		await myPeerConnection.setLocalDescription()
		await myPeerConnection.setRemoteDescription(desc)
		candidates.forEach(candidate => myPeerConnection.addIceCandidate(candidate))
		stream = await navigator.mediaDevices.getUserMedia(mediaConstraints)
		localStream = stream;
		addVideoStream(localStream);
		await localStream.getTracks().forEach(track => myPeerConnection.addTrack(track, localStream));
		answer = await myPeerConnection.createAnswer();
		await myPeerConnection.setLocalDescription(answer);
		socket.send(JSON.stringify({
			"name": user_name,
			"target": targetUsername,
			"type": "video-answer",
			"sdp": myPeerConnection.localDescription
		}))
	}
	function handleICECandidateEvent(event) 
	{
		if (event.candidate) 
		{
			socket.send(JSON.stringify({
				"type": "new-ice-candidate",
				"target": targetUsername,
				"candidate": event.candidate
            }))
		}
	}
	function handleNewICECandidateMsg(msg) 
	{
		var candidate = new RTCIceCandidate(msg.candidate);
		if(!myPeerConnection || !myPeerConnection.remoteDescription)
			candidates.push(candidate)
		else
			myPeerConnection.addIceCandidate(candidate)
	}
	function handleRemoteStreamEvent(event)
	{
		addVideoStream(event.streams[0])
	}
	function addVideoStream(stream) 
	{
		const video = document.createElement('video')
		const videoGrid = document.getElementById('video-grid')
		video.srcObject = stream
		video.addEventListener('loadedmetadata', () => {
			video.play()
		})
		videoGrid.append(video)
	}
</script>